@font-face {
    font-family: 'NeoSansPro-Medium';
    src: url('../fonts/neosanspro-medium.eot');
    src: url('../fonts/neosanspro-medium.woff') format('woff'), url('../fonts/neosanspro-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'NeoSansPro-Regular';
    src: url('../fonts/neosanspro-regular.eot');
    src: url('../fonts/neosanspro-regular.woff') format('woff'), url('../fonts/neosanspro-regular.ttf') format('truetype');
}