$clr_def: #000;

$clr_red: #d81415;
$clr_gray: #898989;
$clr_gray_form: #ebeced;

$bg_gray: #eeeeee;
$bg_yellow: #fff5b2;

$clr_link: $clr_red;

$page_min: 320px;
$page_max: 1024px;
$height_footer: 130px;

$grid_gutter_width: 20px;